@import '../../App.scss';

.events-main-container {
    height: 100vh;
    width: 100%;
    @include flexcol();
    justify-content: left;

    .header-tabs-container {
        width: 100%;
        height: 15vh;
        @include flexrow();

        .tabs-container {
            @include flexrow();
            box-shadow: 0 0 12px 4px rgba($color: #000000, $alpha: 0.1);
            border-radius: 100px;
            overflow: hidden;

            & a.active{
                background-color: $primary-blue;
                color: white;
            }

            .nav-link {
                width: 200px;
                text-align: center;
                padding: 10px 0;
                color: $text-dark;
                font-weight: 400;
                transition: 100ms color ease-in-out, 100ms background-color ease-in-out;
                cursor: pointer;

                &:first-child{
                    border-right: 1px solid $text-light;
                }

                &:last-child{
                    border-left: 1px solid $text-light;
                    
                }

                &:hover {
                    background-color: $primary-blue;
                    color: white;
                }
            }
        }
    }

    // cards-container
    .event-cards-container{
        // border: 2px solid red;
        width: 100%;
        height: 85vh;
        overflow: auto;
    }
}