@import "../../App.scss";

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

hr {
    @include width-height(100%, 2px);
}

#container {
    @include flexrow;
    justify-content: space-between;

    section {
        @include width-height(50%, 60vh);
        padding: 2rem;

        div.scrollable-content {
            @include width-height(100%, 75%);
            overflow-y: scroll;
        }

        &.faculty {
            @include width-height(100%, 40vh);
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            div.content {
                display: flex;
                flex-direction: column;
                div {
                    display: flex;
                    flex: column;
                    gap: 2rem;
                }
            }

            button {
                width: 8rem;
            }
        }

        h1 {
            font-weight: 400;
        }
    }
}



.label {
    background-color: #F1F1F1;
    margin: 1rem 0.5rem;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
}