*{
  margin: 0;
  padding: 0;
}
.event_banner{
  display: flex;
  justify-content: space-between;
}
.event_banner .event_info{
  display: flex;
}

.event_banner .event_info img{
  border-radius: 5px;
}

.event_banner .event_info ul{
  list-style-type: none;
  color: grey;
  font-size: 15px;
  margin-left: 25px;
}

.event_banner .event_info ul li{
  margin-bottom: 25px;
}


.event_banner .button_parent{
  display: flex;
  align-items: end;
  left: -198px;
  position: relative;
}

.faculty_parent{
  width: 35vw;
}

.faculty_parent h1{
  font-size: 25px;
  font-weight: 400;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  padding-left: 10px;
}

.faculty_parent .input_box{
  /* box-shadow: rgba(0, 0, 0, 0.155) 0px 3px 8px; */
  width: auto;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.faculty_parent .input_box input{
  border: none;
  padding: 10px;
  width: auto;
  min-width: 20vw;
  outline: none;
  font-size: 15px;
}
.faculty_parent .check_list .check_list_item{
  display: flex;
  background: #F1F1F1;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  justify-content: space-between;
}
.faculty_parent .check_list .check_list_item h5{
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  
  color: #4D4D4D;
}

.faculty_parent .save{
  display: flex;
  margin-top: 10px;
  justify-content: end;
}

.templates{
  width: 35vw;
}

.templates h1{
  font-size: 25px;
  font-weight: 400;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  padding-left: 10px;
}