@import '../../App.scss';


.event-details-outer-container{
    // border: 2px solid red;
    overflow: auto;
    height: 100vh;
}

.event_banner{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -196px;

    .event_info{
        display: flex;

        img{
            border-radius: 5px;
        }

        ul{
            list-style-type: none;
            color: grey;
            font-size: 15px;
            margin-left: 25px;

            li{
                margin-bottom: 25px;
            }
        }
    }

    .button_parent{
        display: flex;
        position: relative;
        left: -198px;
        align-items: end;
    }
}

.faculty_parent{
    width: 35vw;

    h1{
        font-size: 25px;
        font-weight: 400;
        border-bottom: 1px solid grey;
        padding-bottom: 5px;
        padding-left: 10px;
    }

    .input_box{
        box-shadow: rgba(0, 0, 0, 0.155) 0px 3px 8px;
        // border: 2px solid red;
        width: auto;
        padding-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;

        input{
            border: none;
            padding: 10px;
            width: auto;
            min-width: 20vw;
            outline: none;
            font-size: 15px;
            border-radius: 5px;
        }
    }

    .check_list{
        .check_list_item{
            display: flex;
            background: #F1F1F1;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 15px;
            justify-content: space-between;

            h5{
                /* font-family: 'Inter'; */
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #4D4D4D;
            }
        }
    }

    .save{
        display: flex;
        margin-top: 10px;
        justify-content: end;
    }
}

.templates{
    width: 35vw;

    h1{
        font-size: 25px;
        font-weight: 400;
        border-bottom: 1px solid grey;
        padding-bottom: 5px;
        padding-left: 10px;
    }
}
