.home-main  {
    display: flex;
    flex-direction: column;    
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;
    padding: 2rem 0px;
}