.header-main-container{
    height: 10vh;
    display: flex;
    margin-left: 2.6%;
    margin-right: 7.6%;
    padding: 1vh;
    align-items: center;
    justify-content: left;
    border-bottom: 2px solid #AAAAAA;
    padding: 0px 10px;
}


.header-main-container p{
    font-weight: 500;
    font-size: 1.1rem;
}