@import '../../App.scss';

.card-main-container {
    height: auto;
    width: 250px;
    border-radius: 11px;
    overflow: hidden;
    height: auto;
    padding-bottom: 20px;
    // margin: 20px;
    box-shadow: 0 0 12px 4px rgba($color: #000000, $alpha: 0.1);

    .img-container {
        width: 100%;
        overflow: hidden;
        // border: 2px solid red;
        height: 150px;
        @include flexrow();

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }

    .card-info-container {
        padding: 0px 10px;

        .info-common {
            // border: 2px solid red;
            width: 100%;
            @include flexrow();
            justify-content: space-between;
            padding: 10px 0;
            font-size: 0.9rem;
            border-bottom: 1px solid #E0e0e0;
        }
    }

    .btn-container{
        margin: 0px 10px;
    }
}