@import '../../App.scss';

.sidebar-outer-container {
    background-color: $bg-dark;
    height: 100%;
    width: 100%;
    @include flexcol();
    // justify-content: left;

    .nav-links-container {
        width: 100%;
        height: auto;

        .nav-links-common {
            color: white;
            font-size: 1.3rem;
            @include flexrow();
            justify-content: left;
            padding: 5px 40px;
            transition: 100ms background-color ease-in-out;
            height: 70px;
            cursor: pointer;

            &:hover {
                background-color: #424242;
            }

            p {
                font-size: 1rem;
                margin: 10px 0;
                margin-left: 10px;
            }

        }

        a.active {
            background-color: #424242;
            border: 2px solid $bg-dark;
            border-left: 0;
            border-right: 0;
        }

    }
}