.top-controls-container{
  width: 75vw;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.top-controls-container .add-event-btn{
  width:max-content;
  margin-top: 0px;
  height: 3rem;
  background-color:#388E3C;
  border: none;
  border-radius: 8px;
}

.left-controls{
  display: flex;
  align-items: center;
}