.container{
  margin-left: 1.2%;
  padding: 1vh;
  display: flex;
  flex-direction: column;

  .inputbox {
    margin: 1vh;
    padding: 3vh;
    display: inline-block;
    width: 45.2%;
    margin: 0 10px;
    vertical-align: top;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
  }

  .imagebox {
    margin-top: 3vh;
    margin-left: 1.8vh;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    color: grey;
    text-align: center;
  }

  .sub-group1 {
    display: flex;
    flex-direction: row;
  }

  .sub-group2 {
    width: 48%;
    display: flex;
    flex-direction: row;
  }
  .sub-group3{
    border: 1px solid gray;
    margin:  2vh 2vh 0 2vh;
    display: flex;
 align-items: center;
    justify-content: center;
    width: 98%;
    height: 7vh;
  }

  .inputbox-description {
    padding: 2.5vh;
    display: inline-block;
    width: 92%;
    font-size: 1rem;
    margin: 0 10px 0 10px;
    vertical-align: top;
    border: none;
    border-bottom: 1px solid grey;
  }

  @media only screen and (max-width: 900px) {
    .add-events-outer-container {
      padding: 40px;
    }

    .container {
      max-width: 600px;
    }

    .sub-group1 {
      flex-direction: row;
    }

    .inputbox {
      width: 48%;
      margin-right: 4%;
    }

    .inputbox:last-child {
      margin-right: 0;
    }

    .sub-group2 {
      margin-top: 0;
      width: 110%;
    }
    

    .inputbox-description {
      height: 120px;
    }
  }

  @media only screen and (max-width: 768px) {
    .add-events-outer-container {
      padding: 20px;
    }

    .container {
      width: 100%;
      margin: 0 auto;
    }

    .inputbox {
      width: 100%;
      margin-bottom: 10px;
    }

    .sub-group1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    .line2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 10px;
    }

    .inputbox-description {
      width: 100%;
      height: 80px;
      margin-bottom: 20px;
    }

    .other-button {
      margin-top: 20px;
    }
  }
}
