/* Dropdown */

.dropdown {
  /* width: 16rem; */
  margin: 1rem 0px;
}

select {
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  border: none;
  padding: 0.5rem 1rem;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

select:focus {
  outline: none;
}


.dropdown__label {
  margin-right: 1rem;
}
