.top-controls-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-controls{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.right-controls {
  display: flex;
  gap: 1.5rem;
}