.card-container{
    overflow: hidden;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    animation: ease-in;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    color: #5A5A5A;
    background-color: white;
}

.card-container:hover{
    transition: scale(1.1);
    box-shadow: 0px 0px 10px 0px #00000070;
    color: black;
}

.flex{
    display:flex;
    /* flex-direction: row; */
    align-items:center;
    flex-wrap: wrap;
    /* margin: 30px 5px;  */
}

flex-item{
    background-color: white;
    /* flex: 1 0 calc(20% - 10px); */
    margin:  5px;
    /*** Just to center the text ***/
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.btn-container .card-button{
    height: 2.5rem;
    margin: 0px 5px;
}